/*******************************************************************/
/*                   ESTILO PARA EL LISTADO DE CRUD                */
/*                                                                 */
/*******************************************************************/

body {
  background-image: url(../img/5212968.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  font-family: sans-serif;
}
body * {
  box-sizing: border-box;
}

.header {
  background-color: rgba(0, 0, 0, 0.5 );
  color: white;
  font-size: 1.5em;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}

img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.table-users {
  border: 1px solid rgba(0, 0, 0, 0.5 );
  border-radius: 10px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.5 );
  max-width: calc(100% - 2em);
  margin: 1em auto;
  overflow: hidden;
  width: 800px;
  align-items: center;
}

table {
  width: 100%;
}
table td, table th {
  color: white;
  padding: 10px;
}
table td {
  text-align: center;
  vertical-align: middle;
}
table td:last-child {
  font-size: 0.95em;
  line-height: 1.4;
  text-align: left;
}
table th {
  background-color: rgba(0, 0, 0, 0.5 );
  font-weight: 300;
}
table tr:nth-child(2n) {
  background-color:rgba(0, 0, 0, 0.5 );
}
table tr:nth-child(2n+1) {
  background-color: rgba(0, 0, 0, 0.5 );
}

@media screen and (max-width: 700px) {
  table, tr, td {
    display: block;
  }

  td:first-child {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    width: 100px;
  }
  td:not(:first-child) {
    clear: both;
    margin-left: 100px;
    padding: 4px 20px 4px 90px;
    position: relative;
    text-align: left;
  }
  td:not(:first-child):before {
    color: white;
    content: "";
    display: block;
    left: 0;
    position: absolute;
  }
  td:nth-child(2):before {
    content: "Nombre:";
  }
  td:nth-child(3):before {
    content: "Email:";
  }
  td:nth-child(4):before {
    content: "Fecha Ing.:";
  }
  td:nth-child(5):before {
    content: "Coment.:";
  }
  td:nth-child(6):before {
    content: "Acciones:";
    display: inline-block;
  }

  tr {
    padding: 10px 0;
    position: relative;
  }
  tr:first-child {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .header {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 2em;
    font-weight: 700;
    padding: 0;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
  }

  img {
    border: 3px solid;
    border-color: #daeff1;
    height: 100px;
    margin: 0.5rem 0;
    width: 100px;
  }

  td:first-child {
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #91ced4;
    border-radius: 10px 10px 0 0;
    position: relative;
    top: 0;
    transform: translateY(0);
    width: 100%;
  }
  td:not(:first-child) {
    margin: 0;
    padding: 5px 1em;
    width: 100%;
  }
  td:not(:first-child):before {
    font-size: 0.8em;
    padding-top: 0.3em;
    position: relative;
  }
  td:last-child {
    padding-bottom: 1rem !important;
  }

  tr {
    background-color: rgba(0, 0, 0, 0.5) !important;
    border: 1px solid #6cbec6;
    border-radius: 10px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
    margin: 0.5rem 0;
    padding: 0;
  }

  .table-users {
    align-content: center;
    border: none;
    box-shadow: none;
    overflow: visible;
  }
}

.btnEditar {
  border: 1px bold;
  color: black;
  font-weight: bold;
  padding: 10px;
  margin: 3px;
  border-radius: 5px;
  cursor: pointer;
  background-color: aqua;
  border-color: black;
}

.btnBorrar {
  border: 1px bold;
  color: white;
  font-weight: bold;
  padding: 10px;
  margin: 3px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(239, 0, 119);
  border-color: black;
}



